html {
  background-color: #e2e2e2;

  font-family: sans-serif;
  position: relative;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
}

.polaroid:first-child {
  position: relative;
  left: 30%;
  top: 20%;
  transform: translate(-37%, 62%) rotate(-12deg);
  z-index: 1;
}

.polaroid:nth-child(2) {
  position: absolute;
  left: 40%;
  top: 30%;
  transform: translate(-40%, 32%) rotate(5deg);
  z-index: 3;
}

.polaroid:last-child {
  position: relative;
  left: 50%;
  top: 20%;
  transform: translate(-40%, -35%) rotate(35deg);
  z-index: 2;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}
